@import "partials/__recipes";

.container {
    padding-top: 30px;
    margin-left: 55px;
}

h1{
    text-align: center;
}


.form-control{
    top: 355px;
    margin-left: 80%;
    height: 30px;
    width: 150px;
    border: solid black 0.5px;
    font-size: 1rem;
}

.layout {
	width: 100%;
	max-width: 800px;
	padding: 30px;
	background: #ebebeb;
	margin: 0 auto;
}

.error {
	color: red;
}